extends ../../_partials/cviceni-layout.pug

prepend variables
  //- @value: name of JSON file
  - const cv = cviceniKomuPsalFucik;

block title
  +cviceniMetaDescription(cv.cviceni.nazev, cv.cviceni.anotace ? cv.cviceni.anotace.verejna : cv.cviceni.popis, cv.cviceni.klicovaSlova)

block cviceni
  //- Use automatic generation based on JSON data (default, requires standard tools, layout, design and notation…)
  //- order is defined by JSON
  include ../../_partials/slides.pug

  //- //- Use manual notation in case of custom, experimental tools, layout, design and notation
  //- +slide(cv.slajd[0])
  //-   +textovyEditor(cv.slajd[0].textovyEditor)
  //-   +popiskyPramenu(cv.slajd[0].popisky)

  //- +slide(cv.slajd[1])
  //-   +klicovaSlova(cv.slajd[1].klicovaSlova)

  //- +slide(cv.slajd[2])
  //-   +textovyEditor(cv.slajd[2].textovyEditor)
  //-   +popiskyPramenu(cv.slajd[2].popisky)

  //- +slide(cv.slajd[3])
  //-   +textovyEditor(cv.slajd[3].textovyEditor)
  //-   +popiskyPramenu(cv.slajd[3].popisky)

  //- //- custom slide
  //- +slide(cv.slajd[4])
  //-   .row.items
  //-     .item.uzivatelske-texty.editor-tags-placeholder-container
  //-       +novaTabulka(cv.slajd[4].novaTabulka)
  //-     .item.uzivatelske-texty
  //-       +klicovaSlova(cv.slajd[4].klicovaSlova)

  //- +slide(cv.slajd[5])
  //-   +uzivatelskyText(cv.slajd[5].uzivatelskyText)
