mixin slideNaPul(colums)
  - var id = 0
  .row.slideNaPul
    each data, index in colums
      - id++
      .item
        //- muzeme pridavat dalsi mmoduly
        case index
          when "prameny"
            +prameny(data["src"])
            if data["popisky"]
              +popiskyPramenu(data["popisky"])
          when "imitaceMapy"
            +imitaceMapy(data)
          when "uzivatelskyText"
            +uzivatelskyText(data)
          default
            p module #{index} is not definated
