mixin klicovaSlova(klicovaSlova)
  -
    const hasGallery = (klicovaSlova.galerie !== undefined) && (klicovaSlova.galerie !== false)
    const hasTable = (klicovaSlova.novaTabulka !== undefined) && (klicovaSlova.novaTabulka !== false)

  .row.keywords(class= hasGallery || hasTable ? "with-submodule" : "")
    if (hasGallery)
      +gallery(klicovaSlova.galerie, klicovaSlova.layout)
      +klicovaSlova-component(klicovaSlova.klicovaSlova)
    else if (hasTable)
      +novaTabulka-component(klicovaSlova.novaTabulka.tabulky, true)
      +klicovaSlova-component(klicovaSlova.klicovaSlova)
    else
      +klicovaSlova-component(klicovaSlova.klicovaSlova)

mixin klicovaSlova-component(keywordGroups)
  .keywords-container
    each keywordGroup, index in keywordGroups
      -
        let classes = []
        if (keywordGroup.nadpis !== undefined) {
          classes.push('with-title')
        }

      .keywords-group(id= keywordGroup.id data-save="html" data-keywords= keywordGroup.funkce data-module-settings= keywordGroup)

        if keywordGroup.nadpis
          h3.keywords-group-title !{keywordGroup.nadpis}

        .keywords-items-container
          each keyword, index in keywordGroup.tagy

            if (keywordGroup.funkce === 'selekce-')
              .keywords-item.keywords-item-selection(id= keywordGroup.id + "-keyword-item-" + index data-keywords-item)
                span !{typeset(keyword.text)}
                .keywords-item-icon

            if (keywordGroup.funkce === 'selekce+')
              .keywords-item.keywords-item-selection.disabled(id= keywordGroup.id + "-keyword-item-" + index data-keywords-item)
                span !{typeset(keyword.text)}
                .keywords-item-icon

            if (keywordGroup.funkce === 'wordcloud')
              - const editable = keyword.text==''
              .keywords-item.keywords-item-wordcloud(id= keywordGroup.id + "-keyword-item-" + index data-keywords-item)
                span(contenteditable=editable ? "true" : false class=editable ? "keywords-placeholder" : false) !{keyword.text}
                .keywords-controls
                  .keywords-controls-item(data-keywords-control="minus") –
                  .keywords-controls-item(data-keywords-control="plus") +
