<h2>Nad Hitlerovou knihou vládnou rozpaky</h2>
<p>Nekomentovaný úplný překlad knihy Adolfa Hitlera, který v tomto týdnu vydalo pražské nakladatelství Otakar II., se setkal spíše se zápornou reakcí. Ředitel nakladatelství Michal Zítko sice tvrdí, že knihu vydal jako historický dokument, a prezentuje ji jako určité preventivní opatření proti zhoubné ideologii, ale jeho odpůrci hovoří o edičním omylu. Někteří - zejména z řad politiků - dokonce naznačují, že by mohlo jít o trestný čin. Právní experti jsou v tomto směru ale opatrnější. […] Předseda Českého svazu bojovníků za svobodu Jakub Čermín hovoří bez obalu o propagaci fašismu. Svaz podle něho chce reagovat a případně podat trestní oznámení. Také Federace židovských obcí podle svého tajemníka Tomáše Krause zvažuje podání trestního oznámení.</p>
