<h2>Ústavní dekret presidenta republiky ze dne 2. srpna 1945 o úpravě československého státního občanství osob národnosti německé a maďarské</h2>

<p>33/1945 Sb.</p>

<p>K návrhu vlády a po dohodě se Slovenskou národní radou ustanovuji:</p>

<p>§ 1 <br>
  (1) Českoslovenští státní občané národnosti německé nebo maďarské, kteří podle předpisů cizí okupační moci nabyli státní příslušnosti německé nebo maďarské, pozbyli dnem nabytí takové státní příslušnosti československého státního občanství.
  (2) Ostatní českoslovenští státní občané národnosti německé nebo maďarské pozbývají československého státního občanství dnem, kdy tento dekret nabývá účinnosti.
  (3) Tento dekret se nevztahuje na Němce a Maďary, kteří se v době zvýšeného ohrožení republiky (§ 18 dekretu prezidenta republiky ze dne 19. června 1945, č. 16 Sb., o potrestání nacistických zločinců, zrádců a jejich pomahačů a o mimořádných lidových soudech) přihlásili v úředním hlášení za Čechy nebo Slováky.
  (4) Češi, Slováci a příslušníci jiných slovanských národů, kteří se v této době přihlásili za Němce nebo Maďary, jsouce donuceni nátlakem nebo okolnostmi zvláštního zřetele hodnými, neposuzují se podle tohoto dekretu jako Němci nebo Maďaři, schválí-li krajský národní výbor osvědčení o národní spolehlivosti, které vydá příslušný okresní národní výbor (okresní správní komise) po přezkoumání uvedených skutečností.</p>

<p>§ 2 <br>
  (1) Osobám, spadajícím pod ustanovení § 1, které prokáží, že zůstaly věrny Československé republice, nikdy se neprovinily proti národům českému a slovenskému a buď se činně zúčastnily boje za její osvobození, nebo trpěly pod nacistickým nebo fašistickým terorem, zachovává se československé státní občanství.</p>
