section.slide.active-slide.visited-slide.slide-form#slide-form
  //- include navigation.pug
  .row
    .overlay(style="background-image: url(../assets/img/" + cv.cviceni.uvodniObrazek + ")")
    .content
      .columns
        .zadani
          .h6
            span(data-done= t.slideForm.done.welcome[lang])= t.slideForm.default.welcome[lang]
            span.show-when-done.hidden(data-form="about-user-email")= " — " + t.slideForm.done.completedBy[lang]
          h1 !{typeset(cv.cviceni.nazev)}
          - const defaultUvodniText = t.slideForm.default.missingAnotation[lang]
          - const uvodniText = (cv.cviceni.anotace && cv.cviceni.anotace.verejna) ? cv.cviceni.anotace.verejna : defaultUvodniText
          p.anotation !{typeset(uvodniText)}

        .form
          #form
            h6 !{typeset(t.slideForm.default.instruction[lang])}

            .form-inner
              fieldset.form-fieldset.form-fieldset-user#form-user
                .hide-when-from-lms-with-user
                  .form-legend.h6 !{typeset(t.slideForm.default.aboutMe[lang])}
                    small.text-small= " " + t.slideForm.default.required[lang]
                  .form-row
                    //- JMÉNO ŽÁKA povinné?
                    .form-item
                      label.form-label(for="user-name") !{typeset(t.slideForm.default.name[lang])}
                      input.form-input#user-name(
                        type="text"
                        name="user-name"
                        placeholder= t.slideForm.default.eg[lang] + " Jan Novák"
                        minlength="3"
                        required=""
                        autocomplete="on"
                      )
                    //- EMAIL ŽÁKA povinné?
                    .form-item
                      label.form-label(for="user-email") !{typeset(t.slideForm.default.email[lang])}
                      input.form-input#user-email(
                        type="email"
                        name="user-email"
                        placeholder= t.slideForm.default.eg[lang] + " jan.novak@email.cz"
                        autocomplete="on"
                      )

                .hide-when-from-lms
                  .form-legend.h6 !{typeset(t.slideForm.default.aboutInstitution[lang])}
                  .form-row
                    //- NÁZEV ŠKOLY povinné?
                    .form-item
                      label.form-label(for="user-institution") !{typeset(t.slideForm.default.institution[lang])}
                      input.form-input#user-institution(
                        type="text"
                        name="user-institution"
                        placeholder= t.slideForm.default.eg[lang] + " SŠ Vojtěhradská, Benešov"
                        minlength="5"
                        autocomplete="on"
                      )
                    //- EMAIL UČITELE
                    .form-item
                      label.form-label(for="teacher-email") !{typeset(t.slideForm.default.emailTeacher[lang])}
                      input.form-input#teacher-email(
                        type="email"
                        name="teacher-email"
                        placeholder= t.slideForm.default.eg[lang] + " ucitel@skola-benesov.cz"
                        autocomplete="on"
                      )

              fieldset.form-fieldset.form-fieldset-exercise-mode.hide-when-from-lms#form-exercise-mode
                .form-legend.h6 !{typeset(t.slideForm.default.mode[lang])}
                  small.text-small= " " + t.slideForm.default.required[lang]
                .form-row
                  .form-item
                    label.form-label(for="exercise-mode-0")
                      input.form-input#exercise-mode-0(type="radio" name="exercise-mode" value="0" required="" data-exercise-mode="0")
                      .form-label-text= t.slideForm.default.individually[lang]
                  .form-item
                    label.form-label(for="exercise-mode-1")
                      input.form-input#exercise-mode-1(type="radio" name="exercise-mode" value="1" required="" data-exercise-mode="1")
                      .form-label-text= t.slideForm.default.group[lang]
                  .form-item
                    label.form-label(for="exercise-mode-2")
                      input.form-input#exercise-mode-2(type="radio" name="exercise-mode" value="2" selected="true" required="" data-exercise-mode="2")
                      .form-label-text= t.slideForm.default.class[lang]

              fieldset.form-fieldset.form-fieldset-group-members.hidden#form-group-members
                //- EMAIL KOLEGY
                label.form-label(for="group-member-email-1") !{typeset(t.slideForm.default.groupEmails[lang])}

                .fieldset-inner
                  input.form-input#group-member-email-1(type="email" name="group-member-email" placeholder= t.slideForm.default.groupEmailsPlaceholder[lang] data-form="group-member-master")

                  button.button.tertiary(type="button" data-form="group-member-add") !{typeset(t.slideForm.default.groupEmailsAdd[lang])}

          +mamHotovo({done: t.slideForm.done.button[lang], default: t.slideForm.default.button.default[lang], hover: t.slideForm.default.button.hover[lang],})
